div{
    display: block;
}
body{
    background-color: black;
}
header{
    display: flex;
    width: 74px;
    height: 71 px;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}
nav{
    display: flex;
    align-items: center;
}
.producto{
    text-align: center;

    color: white;
}

.producto2{
    color: white;
    float:right
}
/** ruta de la imagen para poder hacer el div , dirección + carpeta + archivo-**/
.logo-top-izquierda
{
    float: left;
}

footer
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 100 px 300 px;
}
.Informacion
{
    flex-basis: 400 px;
    color: white;
    padding: 1.5 em;
}
.contact
{
    flex-basis: 400 px;
    color: white;
    width: 50%;
    justify-content: flex-start;
}